.instructions { 
    margin:0 10%;
    padding: 30px;
}
p {
    padding: 5px;
    line-height: 29px;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.button1 {
    text-decoration: none;
    color: white;
    font-size: 0.3em;
}
.buttons {
    display: flex;
    justify-content: space-between;
}